{% extends "comments/base.html" %}

{% load comments %}

{% load i18n %}

{% block title %}{% trans "Comment Preview" %}{% endblock %}

{% block content %}

<h2>{% trans "Preview your comment" %}</h2>

<form action="{% comment_form_target %}" method="POST">
    {% csrf_token %}
    {% if form.errors %}
      <p>
        <strong>
        {% blocktrans count form.errors|length as form_errors %}Please correct the error below{% plural %}Please correct the errors below{% endblocktrans %}
        </strong>
      </p>
    {% else %}
      <div class="comment">
          <div class="text">{{ comment|escape|urlizetrunc:40|linebreaks }}</div>
      </div>
      <p>
        <input type="submit" name="submit" value="{% trans "Post your comment" %}" id="submit"> {% trans "or make some changes below" %}:
      </p>
    {% endif %}
    {% include "comments/form_fields.html" %}
    {% if next %}
        <input type="hidden" name="next" value="{{ next }}" />
    {% endif %}
</form>

{% endblock %}